.login-card {
    max-width: 400px;
    min-width: 350px;
    padding-bottom: 25px
}

.form-card {
    margin-right: 20px;
}

.center {
    width: 75%;
    margin: 10px auto;
}

.login-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}