<button *ngIf="type == 1" mat-button        color="warn" (click)="confirmDelete()" style="padding: 0px 10px; min-width: 40px;"><mat-icon>delete_outline</mat-icon>{{text}}</button>
<button *ngIf="type == 2" mat-raised-button color="warn" (click)="confirmDelete()"><mat-icon>delete_outline</mat-icon>{{text}}</button>
<button *ngIf="type == 3" mat-fab           color="warn" (click)="confirmDelete()"><mat-icon>delete_outline</mat-icon>{{text}}</button>
<button *ngIf="type == 4" mat-mini-fab      color="warn" (click)="confirmDelete()"><mat-icon>delete_outline</mat-icon>{{text}}</button>