<form onsubmit="return false;">
  <mat-grid-list cols="12" rowHeight="80px">
    <mat-grid-tile colspan=6>    
      <mat-form-field>
        <input matInput (keyup)="filterByNome($event.target.value)" (keydown)="onKeydown($event)" #filterNome placeholder="Empresa">
      </mat-form-field>        
    </mat-grid-tile> 
    <mat-grid-tile colspan=3>    
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select #filterTipo (selectionChange)="changeTipo($event)">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>       
    </mat-grid-tile>      
  </mat-grid-list>   
  <app-empresa-select-setorial #selectSetorial></app-empresa-select-setorial>
  <mat-grid-list cols="12" rowHeight="80px">
    <mat-grid-tile colspan=12>
      <span class="fill-space"></span>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="filter()">
            <mat-icon>filter_list</mat-icon>Filtrar
        </button>
        <button mat-raised-button color="default" (click)="reset()">
          <mat-icon>refresh</mat-icon>Limpar
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list> 
</form>
