<mat-grid-list cols="12" rowHeight="80px">
  <mat-grid-tile colspan=4>    
    <mat-form-field>
      <mat-label>Setor</mat-label>
      <mat-select #selectSetor (selectionChange)="changeSetor($event)">
        <mat-option *ngFor="let setor of setoresOptions" [value]="setor.id">
          {{setor.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>       
  </mat-grid-tile>  
  <mat-grid-tile colspan=4>    
    <mat-form-field>
      <mat-label>Subsetor</mat-label>
      <mat-select #selectSubsetor (selectionChange)="changeSubsetor($event)">
        <mat-option *ngFor="let subsetor of subsetoresOptions" [value]="subsetor.id">
          {{subsetor.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>         
  </mat-grid-tile>
  <mat-grid-tile colspan=4>    
    <mat-form-field>
      <mat-label>Segmento</mat-label>
      <mat-select #selectSegmento (selectionChange)="changeSegmento($event)">
        <mat-option *ngFor="let segmento of segmentosOptions" [value]="segmento.id">
          {{segmento.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>         
  </mat-grid-tile>   
</mat-grid-list>  