<mat-toolbar color="primary" >
  <mat-toolbar-row class="mat-elevation-z3">
    
    <a mat-button href="/" class="menu">
      <mat-icon>assessment</mat-icon>Stocks Analytics
    </a>

    <button *ngIf="logged_user_id != null" mat-button [matMenuTriggerFor]="menutabelas">Tabelas</button>
    <mat-menu #menutabelas>
      <a mat-menu-item href="/empresa">Empresas</a>
      <a mat-menu-item href="/setor">Setor</a>
      <a mat-menu-item href="/subsetor">Subsetor</a>
      <a mat-menu-item href="/segmento">Segmento</a>
    </mat-menu>

    <button mat-button *ngIf="logged_user_id == null" (click)="login()">Entrar</button>

    <span class="fill-space"></span>

    <button mat-button [matMenuTriggerFor]="menulogin">
      <mat-icon class="example-icon">account_circle</mat-icon>
      {{ logged_user }}</button>
    <mat-menu  #menulogin>
      <a *ngIf="logged_user_id != null" mat-menu-item href="/profile">Perfil</a>
      <a *ngIf="logged_user_id != null" mat-menu-item (click)="logout()">Sair</a>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>