<button *ngIf="type == 1" mat-button        color="accent" (click)="show()" style="padding: 0px 10px; min-width: 40px;"><mat-icon>add</mat-icon>{{text}}</button>
<button *ngIf="type == 2" mat-raised-button color="accent" (click)="show()"><mat-icon>add</mat-icon>{{text}}</button>
<button *ngIf="type == 3" mat-fab           color="accent" (click)="show()"><mat-icon>add</mat-icon>{{text}}</button>
<button *ngIf="type == 4" mat-mini-fab      color="accent" (click)="show()"><mat-icon>add</mat-icon>{{text}}</button>