<mat-toolbar color="secundary" class="mat-elevation-z2">    
  <mat-toolbar-row>
    <div class="container">
      <span class="title">Empresa | Consultar</span>  
      <button mat-fab class="add-button" (click)="create()">
        <mat-icon aria-label="Cadastrar Empresa">add</mat-icon>
      </button>       
    </div>
    
  </mat-toolbar-row>    
</mat-toolbar>

<div class="container">
  <app-empresa-filter #filterEmpresas></app-empresa-filter>
  <app-empresa-grid #gridEmpresas></app-empresa-grid> 
</div>