/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    min-width: 800px;
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #FCFCFC;
}

mat-form-field {
    width: 100%;
}

.cdk-overlay-pane .mat-dialog-container {
    //padding: 0px
}

.title {
    font-weight: 200;
    margin-top: 30px;
}

.fill-space {
    flex: 1 1 auto;
}

.container {
    //width: 1170px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.add-button {
    float: right;
}

.button-row button,
.button-row a {
  margin-left: 10px;
}

.hide {
    visibility: hidden;
}
.show {
    visibility: display;
}

mat-toolbar-row {
    z-index: 1;
}


form {
    padding: 0px 10px;
}

table {
    width: 100%;    
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 500;
    margin: 0px 10px 10px 0px;
}

.form-group {
    margin-bottom: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

th.mat-sort-header-sorted {
    color: black;
}