<mat-toolbar color="secundary" class="mat-elevation-z2">    
  <mat-toolbar-row>
    <div style="display: inline; margin-left: 45px">
      <span class="title">{{title}}</span>  
    </div>
    <div class="fill-space"></div>
    <div class="button-row" style="margin:45px 45px 0px">
      <app-create-button *ngIf="actions.indexOf('create') > -1" [service]="service" [type]="3"></app-create-button>
      <app-index-button *ngIf="actions.indexOf('index') > -1" [service]="service" [type]="3"></app-index-button>
    </div>
  </mat-toolbar-row>    
</mat-toolbar>